html,
body,
#app {
  height: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
}

#app {
  box-shadow: 0 0 4px rgb(185, 185, 185);
  border-radius: 3px;
}

body {
  padding: 0px;
  margin: 0px;
  user-select: none;
  outline: none;
}

.red-point {
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #f03535;
  border-radius: 50%;
  right: 5px;
  top: 5px;
}