.plugin-list_item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s ease;

  &:hover {
    box-shadow:
                        8px 14px 38px rgba(39,44,49,.06),
                        1px 3px 8px rgba(39,44,49,.03);
    transition: all 0.4s ease;
    transform: scale(1.02);
  }

  &-left {
    width: 80px;
    text-align: center;

    img {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      object-fit: cover;
    }
  }

  &-center {
    flex: 1;

    &--title {
      span {
        font-weight: bold;
        color: #666;
      }
    }

    &--desc {
      color: #ccc;
      font-size: 12px;
      margin-top: 5px;
    }
  }

  &-right {
    width: 98px;
    text-align: center;
  }
}
