.clipboard {
    
}

.list-row {
    display: grid;
    grid-template-columns: 77% 30%;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color .25s ease;


    &:hover {
        background-color: #f5f7fa;
    }

    &__value {
        padding-left: 15px;
    }

    &__operate {
    }
}