.clipboard {
    
}

.list-row {
    display: grid;
    grid-template-columns: 77% 23%;
    padding: 10px;
    font-size: 13px;
    cursor: pointer;
    align-items: center;
    transition: background-color .25s ease;


    &:hover {
        background-color: #f5f7fa;
    }

    &__value {
        padding-left: 15px;

        span {
            display: inline-block;
            max-width: 230px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        img {
            height: 55px;
            max-width: 220px;
            object-fit: cover;
        }
    }

    &__operate {
    }
}